{% extends "layout.html" %}
{% block title %}{{ data['name'] }} 的题目列表{% endblock %}
{% block main %}
<div class="mdui-table-fluid">
  <table class="mdui-table mdui-table-hoverable">
    <thead>
      <tr>
        <th class="mdui-table-col-numeric">#</th>
        <th>Problem Name</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data['data'] %}
        <tr>
          <td>{{ item['pid'] }}</td>
          <td>
            <a class="problemset-link" href="/problem/{{ oj }}/{{ item['pid'] }}">
              {{ item['title'] }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}